* {
	margin: 0;
	padding: 0;
	image-rendering: pixelated;
}

@font-face {
  font-family: "VT323";
  src: url("./font/VT323-Regular.ttf") format("truetype");
}

html, body {
	height: 100%;
	overflow-y: hidden;
}

body,
body * {
	font-family: "VT323", monospace;
}

body {
	background: #111;
	margin: 0 auto;
	position: relative;
	height: 100%;
    width: 100%;
    display: table;
}

#game {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

#camera {
	background: red;
	height: 600px;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#world {
	height: 600px;
	position: absolute;
}

#ui {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 100;
}

#currentFocusLabel {
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	color: #fff;
	z-index: 30;
	text-align: center;
	font-size: 32px;
}

#messageBox {
	position: absolute;
	top: 24px;
	left: 24px;
	right: 24px;
	background: #fff;
	border: 6px solid #222;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
	box-sizing: border-box;
	padding: 16px;
	display: none;
}

#messageBox.active {
	display: block;
}

#messageLabel {
	font-size: 32px;
}

#interactionCursor {
	position: absolute;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

#interactionCursor div {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background: red;
}

#interactionCursor .tl {top: 0; left: 0; }
#interactionCursor .tr {top: 0; right: 0; }
#interactionCursor .bl {bottom: 0; left: 0; }
#interactionCursor .br {bottom: 0; right: 0; }

#interactionCursor.active {
	opacity: 1;
}

#repository {
	display: none;
}

x-scene {
	height: 600px;
	position: absolute;		
}


x-block, x-location, x-object {
	position: absolute;
}

.debug x-block {
	background: rgba(255,0,0,0.1);
}

.debug x-location {
	background: rgba(0,0,255,0.1);
}

.debug x-object {
	background: rgba(255,0,255,0.1);
}

x-character {
	display: block;
	z-index: 10;
	background-repeat: no-repeat;
	position: absolute;
	width: 84px;
	height: 300px;	
}

x-character .sprite {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

x-character[data-state="idleRight"] .sprite,
x-character[data-state="walkingRight"] .sprite {
	transform: scaleX(-1);
}

#debugSelection {
	position: absolute;
	background: rgba(255,255,255,0.6);
	display: none;
}

#debugSelection.active {
	display: block;
}